[submodule "dep/mach-flw"]
	path = dep/zgl
	url = https://github.com/hexops/mach-glfw.git
[submodule "dep/nanovg-zig"]
	path = dep/nanovg-zig
	url = https://github.com/leroycep/nanovg-zig.git
[submodule "dep/zgl"]
	path = dep/zgl
	url = https://github.com/leroycep/zgl.git
